.App {
  text-align: center;
  background-color: #524545;
}



@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.movieCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

}

.header{
    padding: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #FF9E9E;
}


.footer{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #FF9E9E;
}
