.SortItems label{
    margin-right: 10px;
}


.SortItems{
    margin-right: 2vw;
    margin-top: 0px;
    margin-bottom: 2vw;

    display: flex;
    flex-direction: row;
    align-items: center;
}


label{
    font-size: 2vw;
}

select {
    width: 5vw;
    height: 2.5vw;
}
