.header-words h1{
    font-family: 'BroadwayFont';
    font-size: 4.5vw;
    color: black;
    margin-left: 30px;
    margin-right: 0px;
}

.left-side{
    z-index: 2000;
    display: flex;
    direction: row;
    align-items: center;
}

.top-of-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-of-screen .search-bar{
    margin-top: 5px;
    margin-left: 10px;
}

.top-of-screen .filter-dropdown{
    margin-top: 30px;
}
