.headerWords h1{

    font-family: 'BroadwayFont';
    font-size: 4.5vw;
    color: black;

}

.headerWords{

    margin-left: 30px;
    margin-right: 0px;


}

.leftSide{
    z-index: 2000;
    display: flex;
    direction: row;
    align-items: center;

}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.top .searchBar{
    margin-top: 5px;
    margin-left: 10px;
}

.top .FilterDropdown{
    margin-top: 30px;
}

@font-face {
    font-family: 'BroadwayFont'; /* Choose a unique font family name */
    src: url('./src/fonts/Limelight-Regular.ttf') format('truetype'), /* or .ttf, .woff, etc. */

    /* You can include multiple font formats for browser compatibility */
}
