#greyBox{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9000;
    overflow: auto;
    position: fixed;
}





.modalContent {
    background-color: white;
    border: 1px solid black;
    padding:20px;
    padding-right: 100px;
    width: 60%;
    max-height: 80vh; /* Set a maximum height relative to the viewport */
    margin: auto; /* Center the modal content */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto; /* scrolling */
    box-shadow: 5px 3px 3px grey;

}



.info{
    display: flex;
    flex-direction: column;
}

.modalText{
    display: flex;
    flex-direction: column;
    margin-top: 30px;


}

.titlePic{

    margin-left: 50px;
    margin-bottom: 50px;

}

.modalContent img{
    height: 32vh;
    

}

#overview{
    margin-bottom: 30px;
}

.modalContent h2{
    font-size: 2vw;
}

.close {
    position: absolute; /* Position it relative to the nearest positioned ancestor */
    top: 1vw; /* Adjust as needed */
    right: 1vw;
    border: 1px solid black;
    border-radius: 20%;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
    font-size: 1.5vw;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */

    background-color: rgb(250, 223, 223);
}
