.movie-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    border: .2vw solid black;
    margin: 20px;
    padding: 0px;
    max-width: 10vw;
    min-width: 15vw;
    max-height: 30vw;
    text-wrap: wrap;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    background-color: #dfd5c1;
}

.movie-box-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    align-self: center;
    gap: 9vw;
}

p{
    margin-top: 0px;
}

.movie-box-poster {
    align-self: center;
    margin: 10px; 
    margin-left: 10px; /* Add margin to the left */
    margin-right: 10px; /* Add margin to the right */
    height: 20vw;
    width: 12vw;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border: .2vw solid black;
}

.movie-box h3{
    font-size: 1.3vw;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    display: flex;
    margin-left: 1.3vw;
    word-wrap: break-word;

}

.movie-box p{
    font-size: .8vw;
    padding-bottom: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1.3vw;
}

.movie-box:hover{
    transform: scale(1.1);
    box-shadow: 5px 3px 3px rgb(0, 0, 0);
}
