.search-bar{
    margin-left: 40px;
}

input{
    width: 18vw;
    height: 2vw;
}

button{
    height: 2.2vw;
    width: 5vw;
    margin-left: 10px;
}

.button-text{
    font-size: 1vw;
}

.search-bar button{
    background-color: #282c34;
}
