.searchBar{
    margin-left: 40px;
}

input{
    width: 18vw;
    height: 2vw;
}

button{
    height: 2.2vw;
    width: 5vw;
    margin-left: 10px;

}

.buttonText{
    font-size: 1vw;
}

.searchBar button{
    background-color: #282c34;
}
